<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminhome' %}">Dashboard</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminaddDoctor' %}">Add Doctor</a></li>
        <li> <a href="{% url 'adminviewDoctor' %}">View Doctors</a></li>
        <li> <a href="{% url 'adminaddReceptionist' %}">Add Receptionist</a></li>
        <li> <a href="{% url 'adminviewReceptionist' %}">View Receptionists</a></li>
        <li> <a href="{% url 'adminviewAppointment' %}">View Appointments</a></li>
        <li> <a href="{% url 'adminlogout' %}">Logout</a></li>
    </ul>
</div>