{% load static %}
<nav class="navbar navbar-dark navbar-expand-md sticky-top bg-primary float-none">
    <div class="container-fluid"><img src="{% static 'img/mainicon.png' %}" width="30px" height="30px" alt="10px"><a class="navbar-brand text-center" href="#" style="margin: 0px 0px;">HOSPITAL SYSTEM</a>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav text-light ml-auto">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
            </ul>
        </div>
    </div>
</nav>