<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'reception_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 class="text-center">You are sucessfully logged in..{{ user.first_name }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'redirecthome.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>