<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'reception_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row register-form">
                    <div class="col-md-8 offset-md-2">
                        {% for d in reception_details %}
                        <form class="custom-form" style="margin-top: 0px;">
                            <h1>Your Profile</h1>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Name </label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" readonly="" value="{{ d.name }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">Email </label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="email" readonly="" value="{{ d.email }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Gender</label></div>
                                <div class="col-sm-4 input-column">
                                    <input type="text" class="form-control" readonly="" value="{{ d.gender }}">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Phone Number</label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="tel" value="{{ d.phonenumber }}" readonly="">
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Address</label></div>
                                <div class="col-sm-6 input-column">
                                    <textarea class="form-control" readonly="">{{ d.address }}</textarea>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Birth Date</label></div>
                                <div class="col-sm-6 input-column">
                                    <input class="form-control" type="text" readonly="" value="{{ d.birthdate }}"></div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Blood Group</label></div>
                                <div class="col-sm-6 input-column">
                                    <input type="text" class="form-control" readonly="" value="{{ d.bloodgroup }}">
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-top-wrapper"><span class="scroll-top-inner"><i class="fa fa-arrow-circle-up"></i></span></div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>